black==25.1.0
dj-rest-auth==7.0.1
Django==5.2.1
django-allauth==65.8.0
django-axes==6.4.0
django-colorfield==0.14.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-lifecycle==1.2.4
django-model-utils==5.0.0
django-phonenumber-field==8.1.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.1
drf-spectacular==0.27.2
phonenumbers==9.0.5
pillow==11.2.1
requests==2.31.0
