black==24.3.0
cryptography==42.0.5
dicebear==2.7.3
dj-rest-auth==5.1.0
django==4.2.11
django-allauth==0.61.1
django-axes==6.4.0
django-colorfield==0.11.0
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.2
django-lifecycle==1.2.3
django-model-utils==4.5.0
django-phonenumber-field==7.3.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.93.5
drf-spectacular==0.27.2
phonenumbers==8.13.34
pillow==10.3.0
